
@media all
{
    * {
        box-sizing: border-box;
    }
    
    html {height: 100%}

    body {
	font-family: "Liberation Sans", "Open Sans", Helvetica, sans-serif;
	margin: 0;
	height: 100%;
	font-size: 1em;
    }
    
    #preamble {
	background: url("../img/header-c6c6ec.png") no-repeat top center;
	padding: 0;
	text-align: center;
    }
    #preamble header {
	padding: 1em;
	text-align: center;
	color: #2d2d86;
	font-weight: bold;
	font-size: 180%;
    }
    #preamble nav {
	display: flex;
	position: sticky;
	top: 0;
	align-self: flex-start;
	justify-content: center;
	background-color: #2d2d86;
	box-shadow: 0px 7px 7px #ccc;
    }
    #preamble nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
    }
    #preamble nav ul li {
	color: #999;
	display: inline-block;
	float: left;
	position: relative;
    }
    #preamble nav ul li a {
	display: inline-block;
	padding: 14px 20px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
    }
    #preamble nav ul li a:hover {
	background-color: #8c8cd9;
	color: #2d2d86;
    }
    /* Dropdown */
    #preamble nav ul li ul {
	display: none;
	position: absolute;
	min-width: 160px;
	background: #2d2d86;
	box-shadow: 7px 7px 7px #ccc;
	z-index: 1;
    }
    /* show direct children upon hover */
    #preamble nav ul li:hover > ul { display: block; }

    
    #preamble nav ul li ul li a {
	display: block;
	background: #2d2d86;
	text-align: left;
	padding: 10px 10px 10px 20px;
	min-width: 180px;
	text-transform: none;
    }
    #preamble nav ul li ul li ul { max-width: 140px;}
    
    /* shift second dropdown to the right */
    ul ul ul { left: 100%; top: 0;}

    #content {
	max-width: 50%;
	min-width: 500px;
	min-height: 70%;
	padding-top: 40px;
	margin: 0 auto;
	line-height: 1.6;
	color: #333;
    }
 /*
    section {
	max-width: 60%;
	min-width: 500px;
	padding-top: 40px;
	margin: 0 auto;
    }

    article {
	margin: 5px;
	padding: 10px;
	background-color: white;
    }
*/
    #org-div-home-and-up{
	position: fixed;
	right: 10px;
	top: 1em;
	opacity: .5;
    }
    #table-of-contents {
	display: block;
	max-width: 15em;
	position: fixed;
	left: 1em;
	top: 16em;
	text-align: left;
        overflow: auto;
    }
    #table-of-contents h2 {
	font-size: 1.1em;
	font-weight: bold;
	border: 0;
	margin: 0;
	padding: 0;
    }
    #text-table-of-contents {
	line-height: 1.6em;
	border-left: 5px solid #c6c6ec;
	font-family: Roboto, "Open Sans", sans-serif;
	text-align: left;
    	padding: 0em;
	margin: 0; }
    #text-table-of-contents ul { padding-left: 0.7em;}
    #text-table-of-contents ul li { padding-bottom: 1em;}
    #text-table-of-contents ul li a { font-size: 1em; color: #2d2d86; padding-bottom: 1em;}
    #text-table-of-contents ul li:last-child { padding-bottom: 0;}
    #text-table-of-contents ul li ul { padding-left: .5em;}
    #text-table-of-contents ul li ul li { padding-bottom: 0;}
    #text-table-of-contents ul li ul li a { font-size: 0.9em; color: #4040bf; padding-bottom: 0;}
    #text-table-of-contents li { list-style: none;}
    #text-table-of-contents a { text-decoration:none;}
    #text-table-of-contents a:hover { font-weight: bold; }

    #license {
      /* padding: .3em; */
      /* border: 1px solid gray; */
      background-color: white;
    }
/*
    div.title {
	margin: 0;
	font-size: 200%;
	font-weight: bold;
	background: #369;
	color: #fff;
	padding: 0;
	font-family:sans-serif;
	text-align: center;
    }

  .subtitle { text-align: center;
              font-size: medium;
              font-weight: bold;
              margin-top:0; }
*/
    h1 {
	font-weight: bold;
	font-size: 2.3em;
	font-family: Helvetica, sans-serif;
	margin: .3em 0;
	text-shadow: 3px 3px 5px #7979d2;
	font-variant: small-caps;
    }
    h2, h3, h4, h5 {margin: 1.5em 0 0 0;}

    h2 {
	font-size: 1.7em;
	color: #2d2d86;
    }
    h3 {
	font-size: 1.3em;
	color: #4040bf;
    }
    h4 {
	font-size: 1.2em;
	color: #6666cc;
    }
    h5 {
	font-size: 1.1em;
	color: #8c8cd9;
    }
    
    a {text-decoration: none; font-weight: 400;}
    a:visited {text-decoration: none; font-weight: 400;}
    a:hover {text-decoration: underline;}

    table {
	border: none;
	border-collapse: collapse;
	margin: 1.2em 0;
	font-size: 90%;
	line-height: normal;
    } 
    th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
    }
    tr:hover {background-color: #d9d9f2;}
    
    table.first-col tr > *:nth-of-type(1) {
	padding-right: 16px;
	border-right: 1px solid #ddd;
    }
    table.legend td {
	padding: 1px 4px;
	border-bottom-width: 0px;
    }
    
    .org-center { text-align: center; }
    
    code {
	font-size: small;
	border: 1px solid #DEDEDE;
	padding: 0px 0.2em;
	font-family: "Liberation Mono", monospace;
    }

    img {
	border: none;
	max-width: 100%;
    }

    .share img {
	opacity: .4;
	-moz-opacity: .4;
	filter: alpha(opacity=40);
    }

    .share img:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
    }

    pre {
	font-family: Droid Sans Mono, Monaco, Consolas, "Lucida Console", monospace;
	color: black;
	font-size: 90%;
	background-color: #ffffff;
	padding: 1.2em;
	border: 2px solid #dddddd;
	overflow: auto;
    }

    .builtin {
	/* font-lock-builtin-face */
	color: #f4a460;
    }
    .comment {
	/* font-lock-comment-face */
	color: #737373;
    }
    .comment-delimiter {
	/* font-lock-comment-delimiter-face */
	color: #666666;
    }
    .constant {
	/* font-lock-constant-face */
	color: #db7093;
    }
    .doc {
	/* font-lock-doc-face */
	color: #b3b3b3;
    }
    .function-name {
	/* font-lock-function-name-face */
	color: #5f9ea0;
    }
    .headline {
	/* headline-face */
	color: #ffffff;
	background-color: #000000;
	font-weight: bold;
    }
    .keyword {
	/* font-lock-keyword-face */
	color: #4682b4;
    }
    .negation-char {
    }
    .regexp-grouping-backslash {
    }
    .regexp-grouping-construct {
    }
    .string {
	/* font-lock-string-face */
	color: #ccc79a;
    }
    .todo-comment {
	/* todo-comment-face */
	color: #ffffff;
	background-color: #000000;
	font-weight: bold;
    }
    .variable-name {
	/* font-lock-variable-name-face */
	color: #ff6a6a;
    }
    .warning {
	/* font-lock-warning-face */
	color: #ffffff;
	background-color: #cd5c5c;
	font-weight: bold;
    }
    pre.a {
	color: inherit;
	background-color: inherit;
	font: inherit;
	text-decoration: inherit;
    }
    pre.a:hover {
	text-decoration: underline;
    }

    label.org-src-name {
	font-size: 80%;
	font-style: italic;
    }

    #show_source {margin: 0; padding: 0;}

    h2.footnotes {
	font-size: 100%;
	padding-top: 1em;
	border-top: 1px solid #ddd;
	-webkit-margin-before: 3em;
    }

    div.footdef {
	display: flex;
	align-items: flex-start;
	font-size: 80%;
    }

    sup a.footref {
	font-size: 80%;
	position: relative;
        display: inline-block;
	border: 0px solid #2d2d86;
	border-radius: 1em;
	padding: 0 3px;
	opacity: .7;
    }
    
    div.footdef sup {
	vertical-align: super;
    }
    
    div.footpara {
	display: inline-block;
	margin: .3em 0px .6em .8em;
    }

    p.footpara { margin: 0; }

    #postamble {
	padding: 1em 0 1em 0;
	margin-top: 1em;
	border: none;
	width: 100%;
	background-color: #2d2d86;
	box-shadow: 0px 0px 0px 0px #2d2d86;
    }
    #postamble footer {
	min-width: 500px;
	max-width: 50%;
	margin: 0 auto;
	font-size: 80%;
	color: #d9d9f2;
	line-height: 1.5;
    }
    #postamble footer a {
	color: #d9d9f2;
	font-weight: 600;
    }
    div.container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	max-width: 95%;
    }
    img.logo {
	height: 60px;
	padding: 0 5px;
    }
	
    /* D3 related */

    .d3map, .d3mapcaption, .slidecontainer {
	font-family: "Liberation Mono", monospace;
    }
    .d3mapcaption {
	color: #2d2d86;
	text-align: center;
	font-weight: 600;
	line-height: 1em;
	margin: 2.5em 0 0;
	font-size: small;
    }
    .graticule {
	fill: none;
	stroke: #eee;
	stroke-width: 1px;
	stroke-opacity: .9;
	vector-effect: non-scaling-stroke;
    }
    .countries {
	fill: none;
	stroke: #fff;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 0.5px;
	cursor: pointer;
    }
    .countries path {
	vector-effect: non-scaling-stroke;
    }
    .legendTitle {
        fill: #000;
        text-anchor: start;
        font-weight: bold;
        font-size: 0.8em;
    }
    .legendText {
      fill: #000;
      text-align: left;
      font-weight: normal;
      font-size: 0.75em;
    }
    .legendRect {
      stroke-width: 0;
    }
    .slidecontainer {
      text-align: center;
      line-height: 1em;
      font-size: smaller;
    }
    .slider {
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    .slider:hover {
      opacity: 1;
    }
    .slider::-webkit-slider-thumb {
      cursor: pointer;
    }
    .slider::-moz-range-thumb {
      cursor: pointer;
    }

    div.tooltip {
      position: absolute;
      text-align: left;
      line-height: 1.2em;
      width: 133px;
      height: 62px;
      padding: 3px;
      font: 10px Roboto;
      background: white;
      border: 0px;
      border-radius: 4px;
      box-shadow: 2px 2px 2px #ccc;
      pointer-events: none;
    }

    div.fntooltip {
      position: relative;
      display: inline-block;
    }
    span.fntooltip {
      position: absolute;
      text-align: left;
      line-height: 1.2em;
      color: #2d2d86;
      width: 350px;
      padding: 5px;
      font: 1.2em Roboto;
      background-color: white;
      box-shadow: 2px 2px 2px #ccc;
      border: 0px solid #ccc;
      border-radius: 4px;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: 3px;
      margin-bottom: 5px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s;
    }
    a.footref:hover {
      opacity: 1;
      text-decoration: none;
    }    
    a.footref:hover span {
      visibility: visible;
      opacity: 1;
    }

    blockquote {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      padding: 1px 10px;
      margin: auto;
      background-color: #d9d9f2;
      border-left: 3px solid #b3b3e6;
      border-radius: 3px;
    }
    blockquote p {margin: 0.5em 0;}

    dl {
      display: grid;
      grid-template-columns: max-content auto;
      margin: 0.5em 0 0 0;
    }
    dt {grid-column-start: 1;}
    dd {
      grid-column-start: 2;
      margin-left: 10px;
      margin-bottom: 0.5em;
    }
    details p {padding-left: .8em; font-size: .9em;}


} /* END OF @media all */

@media screen and (max-width: 1000px)
{
    #table-of-contents {
	display: none;
    }
    #preamble header {
	font-size: 3vw;
    }
    #org-div-home-and-up {
	right: 7px;
	top: 7px;	
    }
} /* END OF @media screen */

@media screen and (max-width: 690px)
{
    #org-div-home-and-up {
	display: none;
    }
    div.container {
	max-width: 100%;
    }
    img.logo {
	height: 50px;
    }
} /* END OF @media screen */

@media screen and (max-width: 580px)
{
    #preamble header {
	padding: 0.5em;
	font-size: 120%;
    }
    /* remove box-shadow from dropdown */
    #preamble nav ul li ul {
	box-shadow: 0px 0px 0px #ccc;
    }
    #content {
	max-width: 90%;
	min-width: 10em;
	padding-top: 0;
    }
    #postamble footer {
	min-width: 10em;
	max-width: 90%;
    }
    .d3mapcaption, code {font-size: .7em;}
    table {font-size: 80%;}

    img.logo {
	display: block;
	height: 40px;
	padding: 0;
    }
    
} /* END OF @media screen */
